* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact,
.login,
.register,
.home,
.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact,
.home,
.login,
.register {
    flex-direction: column;
}

p.instruction {
  font-size: 0.6rem;
}

p.error {
  color: red;
  font-size: 0.7rem;
}